@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*  Components
------------------------------------------------------------------ */

@import "components/search";
@import "components/video";

/*  General
------------------------------------------------------------------ */

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333;
}

.header {
  background: #333;
  color: #eee;
  height: 100px;
  transition: all .2s ease;

  &--expanded {
    height: 100%;

    .search {
      transform: translateY(200%);
    }
  }
}

/*  Results Animation
------------------------------------------------------------------ */

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.resultView li {
  animation: show .5s ease;
  animation-fill-mode: both;
}

.resultView li:nth-child(1) { animation-delay: .2s }
.resultView li:nth-child(2) { animation-delay: .4s }
.resultView li:nth-child(3) { animation-delay: .6s }
.resultView li:nth-child(4) { animation-delay: .8s }
